*{
    margin: 0;
    padding: 0;
}
/*------- header style start --------*/
.banner{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(food.jpg);
    background-repeat: no-repeat;
}
h2{
    color: #fff;
}
.navber{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}
.navber ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 50px;
    
}
.navber ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: relative;
}
.navber a::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navber a:hover::after{
    width: 100%;
}
button{
    width: 170px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
span{
    background-color: #009688;
    width: 0%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
    z-index: -1;
}
.banner-text{
    padding: 90px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.banner-text h1 h5{
    font-family: 'Times New Roman', Times, serif;
}
/*------- header style end --------*/

/*--------about start ---------*/
.about{
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    padding: 38px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
    transition: 1s;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-text h1{
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-text h5{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}
.about button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.about button:hover{
    background-color:#009688;
}
.about img:hover{
    transform: translateY(-8px);
}
/*--------about end ---------*/

/*--------card start ---------*/
.card-title{
    text-align: center;
    margin-bottom: 5px;
}
hr{
    background-color: #f44;
    width: 18%;
    height: 2px;
    border: 2px solid #f44;
    border-radius: 20px;
    margin-left: 41%;
    margin-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4%;
    padding: 6%;
}
.grid-item{
    background-color: aqua;
    box-shadow: 2px 3px 5px black;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}
.card img{
    width: 100%;
    height: 30%;
}
.card-text{
    padding: 7%;
}
.card-text h1{
    font-size: 30px;
    padding: 1%;
}
.card-text p{
    font-size: 15px;
    font-weight: 600;
}
.card button{
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 27px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
}
.card button:hover{
    background-color: #009688;
}
.grid-item:hover{
    transform: translateY(-8px);
}
/*--------card end ---------*/














